{% load static %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'markdown.css' %}">
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>

    
    <link rel="stylesheet" href="{% static 'tagify/tagify.css' %}">
    <script src="{% static 'tagify/tagify.js' %}"></script>

</head>
<body>

    <div class="d-flex" id="layout">
        <!-- Sidebar -->
        {% include "navbar.html" %}
    
        <!-- Main content -->
        <div id="main-content" class="flex-grow-1 p-4 content-expanded">
            {% block content %}{% endblock %}
        </div>
    </div>
    


{% block script %}

{% endblock %}
</body>
</html>
