{% extends 'base.html' %}
{% block content %}

{% load markdown_extras %}
{% load mathfilters %}
{% load custom_filters %}

<head>
    <title>{{ benchm.ark.name }}</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hf.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'hf_style.css' %}">

<div class="container my-3">
    <div class="card-body border-bottom py-2">
        <div class="d-flex justify-content-between align-items-center">
            <!-- 제목 (왼쪽 정렬) -->
            <div class="d-flex">
                <h4 class="mb-2 mr-2 fw-bold">{{ benchmark.benchmark_name }}</h4>
                <input type="hidden" id="copy-value" value="{{ benchm.ark.weight_path }}">
                <button onclick="copyHiddenValue('copy-value')" class="">
                    <img class="mb-0" src="{% static 'svg/copy.svg' %}" alt="" width="10" height="10">
                </button>
            </div>
            <!-- 작성자 (오른쪽 정렬 & 작은 폰트) -->
            <h6 class="mb-0 text-muted">Author: {{ benchmark.author }}</h6>
        </div>
        <div class="mt-1 mb-1">
            {% for tag in benchmark.tag|split:"," %}
            <a class="mb-1 mr-1 md:mb-1.5 md:mr-1.5 rounded-lg tag" >
                {{tag}}
            </a>
            {% endfor %}
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if active_tab == 'readme' %}active{% endif %}" id="readme-tab" data-bs-toggle="tab" data-bs-target="#readme" 
                    type="button" role="tab" aria-controls="readme" aria-selected="true">
                README.md
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if active_tab == 'leader_board' %}active{% endif %}" id="leader_board-tab" data-bs-toggle="tab" data-bs-target="#leader_board" 
                    type="button" role="tab" aria-controls="leader_board" aria-selected="false">
                리더보드
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if active_tab == 'add_eval_result' %}active{% endif %}" id="add_eval_result-tab" data-bs-toggle="tab" data-bs-target="#add_eval_result" 
                    type="button" role="tab" aria-controls="add_eval_result" aria-selected="false">
                평가 결과 등록
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show {% if active_tab == 'readme' %}show active{% endif %} p-3 markdown overflow-scroll" id="readme" role="tabpanel" aria-labelledby="readme-tab">
            {{ readme|mark|safe }}
        </div>

        <div class="tab-pane fade p-3 {% if active_tab == 'leader_board' %}show active{% endif %}" id="leader_board" role="tabpanel" aria-labelledby="leader_board-tab">
            <div class="from-gray-100-to-white bg-linear-to-t flex flex-wrap items-baseline rounded-t-lg border border-b-0 px-3 py-2 dark:border-gray-800 justify-between">
                <div class="mr-4 flex flex-none items-center truncate">
                    <a class="hover:underline user-name fw-bold font-mono">평과 결과</a>
                </div>
                <div class="flex flex-none items-center truncate">
                    <a class="hover:underline user-name text-gray-400 text-xs text-muted">{{ dataset.dataset_path}}</a>
                </div>
            </div>

            <table class="w-full table-auto rounded-lg font-mono text-xs text-gray-900">
                <thead class="shadow-xs sticky left-0 right-0 top-0 z-1 bg-white align-top">
                    <tr class="space-y-54 h-full min-w-fit divide-x border-b text-left">
                        <th class="h-full max-w-sm p-2 text-left  relative w-auto">
                            <div class="flex h-full flex-col flex-nowrap justify-between">
                                <div class="flex items-center justify-between">
                                    모델
                                </div>
                            </div>
                        </th>
                        {% for head in headers %}
                        <th class="h-full max-w-sm p-2 text-left  relative w-auto">
                            <div class="flex h-full flex-col flex-nowrap justify-between">
                                <div class="flex items-center justify-between">
                                    {{head}}
                                </div>
                            </div>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="h-8 overflow-scroll">
                    {% for row in rows %}
                        <tr class="group cursor-pointer space-x-4 divide-x border-b outline-offset-[-2px] odd:bg-gray-50 hover:bg-gray-100 dark:odd:bg-gray-925 dark:hover:bg-gray-850  " tabindex="0" data-row-idx="0">
                            <td class="min-w-fit max-w-sm break-words p-1"  >
                                <div x-data="{ expanded: false }" @click="expanded = !expanded" class="cursor-pointer">
                                    <div :class="expanded ? '' : 'line-clamp-1'">
                                        <div dir="auto">
                                            <span>
                                                {{ row.model_name }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            {% for head in headers %}
                            <td class="min-w-fit max-w-sm break-words p-1"  >
                                <div x-data="{ expanded: false }" @click="expanded = !expanded" class="cursor-pointer">
                                    <div :class="expanded ? '' : 'line-clamp-1'">
                                        <div dir="auto">
                                            <span>
                                                {{ row|dict_get:head }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            {% endfor %}
                            <td class="min-w-fit max-w-sm break-words p-1"  >
                                <div x-data="{ expanded: false }" @click="expanded = !expanded" class="cursor-pointer">
                                    <div :class="expanded ? '' : 'line-clamp-1'">
                                        <div dir="auto">
                                            <a href="{% url 'model_dashboard:eval_viewer' benchmark.id row.model_id %}" class="btn btn-sm btn-warning">미리보기</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
        <div class="tab-pane fade p-3 {% if active_tab == 'add_eval_result' %}show active{% endif %}" id="add_eval_result" role="tabpanel" aria-labelledby="add_eval_result-tab">
            {% include 'model_dashboard/add_result.html' %}

        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="my-3">
                {% if request.user == benchmark.author %}
                <a href="#" 
                   class="modify btn btn-sm btn-warning">수정</a>
                <a href="#" data-uri="{% url 'model_dashboard:delete_dashboard' benchmark.id  %}" 
                   class="delete btn btn-sm btn-danger">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>

<script src="{% static 'cdn.min.js' %}"></script>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>

const modify_elements = document.getElementsByClassName("modify");
Array.from(modify_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("아직 구현되지 않았습니다~")) {
        };
    });
});


const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
function copyHiddenValue(id) {
    const val = document.getElementById(id).value;
    navigator.clipboard.writeText(val)
        .then(() => alert("아무기능없음!"));
}
</script>
</script>
{% endblock %}