{% extends 'base.html' %}

{% load custom_filters %}
{% load mathfilters %}
{% block content %}

<div class="container-fluid">
  <div class="d-flex align-items-center mb-3 px-2">
    <a href="{% url 'models:new_model' %}" class="btn btn-sm hit-btn-outline-dark">+ 새 모델</a>
    <div class="flex-grow-1 me-2">
      {% include "partials/search_form.html" %}
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
    {% for model in models_list %}
    <div class="col">
      <div class="card h-100 position-relative" style="cursor: pointer;">
        <!-- 타이틀 -->
        <h4 class="card__title text-truncate" title="{{ model.name }}"
          style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 1.4;">
          {{ model.name }}
        </h4>
        <!-- 태그 -->
        <div class="card__content d-flex justify-content-between align-items-center flex-wrap">
          <!-- 태그: 왼쪽 -->
          <div class="d-flex flex-wrap">
              <span class="small text-muted me-2">{{ model.task_type }}</span>
          </div>
        
          <!-- 날짜: 오른쪽 -->
          <div class="text-muted small">
            {{ model.create_date|time_since_short }}
          </div>
        </div>
        
        <!-- 숨겨진 링크 -->
        <a href="{% url 'models:detail' model.id %}" class="stretched-link" aria-label="{{ model.name }}"></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include "partials/pagination.html" with page_obj=models_list %}


{% endblock content %}