{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
    <div class="card-body border-bottom py-2">
        <div class="d-flex justify-content-between align-items-center">
            <!-- 제목 (왼쪽 정렬) -->
            <h4 class="mb-0">{{ question.subject }}</h4>
            
            <!-- 작성자 (오른쪽 정렬 & 작은 폰트) -->
            <h6 class="mb-0 text-muted">작성자: {{ question.author }}</h6>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                {{ question.content}}
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{ question.create_date}}
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bottom my-2 py-2">{{ question.answer_set.count}}개의 응답이 있습니다.</h5>
    
    <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors}}
            </div>
            {% endif%}
            {%endfor%}
        </div>
        {%endif%}
        <div class="mb-3 d-flex">
            <textarea name="content" id="content" class="form-control" rows="1"></textarea>
            <input type="submit" value="답변등록" class="btn btn-primary">
        </div>
    </form>

    <!-- toggle 버튼 -->
    <button type="button" class="btn btn-outline-primary btn-sm mb-2"
    data-bs-toggle="collapse" data-bs-target="#answerCollapse"
    aria-expanded="false" aria-controls="answerCollapse_answer">
    💬 댓글 보기 / 숨기기
    </button>

    <!-- 접히는 댓글 영역 -->
    <div class="collapse" id="answerCollapse">
        {% for answer in question.answer_set.all %}
        <div class="card my-2 p-2">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="d-flex align-items-center text-muted fw-bold me-3">
                    🙋 {{ answer.author }}
                </div>
                <div class="d-flex align-items-center flex-grow-1 text-break mx-2" style>
                    {{ answer.content }}
                </div>
                <div class="d-flex align-items-center ms-auto">
                    <div class="badge bg-light text-dark">
                        🕒 {{ answer.create_date }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="d-flex justify-content-between align-items-center">
        
        <div class="my-3">
            {% if request.user == question.author %}
            <a href="{% url 'pybo:question_modify' question.id  %}" 
               class="btn btn-sm btn-warning">질문 수정</a>
            <a href="#" data-uri="{% url 'pybo:question_delete' question.id  %}" 
               class="delete btn btn-sm btn-danger">질문 삭제</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}